<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="wrap_left">
            <div class="other_users">
                <div class="other_users_list">
                        {% if other_users_list %}
                            <ul>
                                {% for user in other_user_list %}
                                <li>{{ user.username }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="wrap_right">hello</div>
    </div>
</body>
</html>