<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="user">{{username}}</div>
        <div class="wrap_left">
            <div class="other_users">
                <div class="other_users_list">
                        {% if other_user_list %}
                            <ul>
                                {% for user in other_user_list %}
                                <li class="user_lists">{{ user.username | title}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="wrap_right">
            <div class="chat_box_outer">
                <div class="to_user"></div>
                <div class="chat_box_inner">
                    <ul class="chat_box">
                    </ul>
                    <form method="post" class="chat_container">
                        <textarea id="messageBox" placeholder="Type a message..."></textarea>
                        <img src="{{ url_for('static', filename='img/sent.png') }}" alt="send_btn" onclick="current_user_sent()" class="send_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script>
        const socket = io();

            socket.on('connect', () => {
                console.log('Connected after login');
                socket.emit('user_connected',{username: "{{ username }}"});
            });
    </script>
</body>
</html>