<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="wrap_left">
            <div class="other_users">
                <div class="other_users_list">
                    <ul>
                        {% if other_users_list %}
                        {% for list in other_users_list %}
                            <li>{{list}}</li>
                            {% endfor %}
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap_right">hello</div>
    </div>
</body>
</html>