<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="{{url_for('login')}}" method="post" style="display: flex;justify-content: center; align-items: center; height: 98vh;">
        <a href="register.html">register page</a>
        <table style="display: flex; ">
        <th>Login Page</th>
        <tr>
            <td>email: </td>
            <td><input type="text" name="email" placeholder="email..."></td>
        </tr>
        <tr>
            <td>password: </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>