<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <table>
        <th>Login Page</th>
        <tr>
            <td>username: </td><hr>
            <td><input type="text" placeholder="Username"></td>
        </tr><br><br>
        <tr>
            <td>password: </td><hr>
            <td><input type="password"></td>
        </tr><br><br>
        <tr>
            <hr><hr><hr><td><input type="button" value="Submit"></td>
        </tr><br><br>
    </table>
</body>
</html>