<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <a href="{{url_for('login')}}" style="float: right;">login page</a>
    <form action="{{url_for('register')}}" method="post" style="display: flex;justify-content: center; align-items: center; height: 98vh;">
        <table style="display: flex; ">
        <th>Register Page</th>
        <tr>
            <td>username: </td>
            <td><input type="text" name="username" placeholder="Username"></td>
        </tr>
        <tr>
            <td>email: </td>
            <td><input type="email" name="email" placeholder="email.."></td>
        </tr>
        <tr>
            <td>password: </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>