*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', sans-serif;
}
body{
    height: 90vh;
    width: 97%;
    padding:0.5em 1em;
    background-color: rgb(20, 110, 20);
}
.wrap{
    background-color: rgb(20, 110, 20);
    width: 100%;
    height: 98vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.wrap_left{
    width: 33%;
    padding: 1em;
    height: 92vh;
    border-radius: 0 1em 1em 0;
    color: white;
    overflow-y: scroll;
    background-color: rgb(15, 12, 12);
}

.wrap_right {
    width: 60%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.5em;
    height: 95vh;
    color: white;
    padding: 1em;
    background-color: rgb(15, 12, 12);
    animation: wrap_right_hide 1s ease forwards;
}

.message{
    display: none;
    background-color: rgb(14, 14, 197);
    color: white;
    position: absolute;
    transform: translateX(-20%);
    left: 80%;
    bottom: 5%;
    font-weight: 700;
    place-items: center;
    max-width: 25%;
    width: auto;
    height: 6%;
    padding: 0.4em;
    border-radius: 1em;
    animation: message_animation 1s ease forwards;
}

.user_wrap{
    position: absolute;
    top: 1em;
    left: -19%;
    width: 20%;
    height: 80vh;
    z-index: 90;
    background-color: dodgerblue;
    border-radius: 0 1em 1em 0;
    .profile{
        position: relative;
    }
    .logout_btn{
        background-color: red;
        position: absolute;
        width: 3.2em;
        padding: 0.5em;
        border-radius: 1em;
        bottom: 0.5em;
        right: 1em;
        cursor: pointer;
    }
    .logout_btn:hover{
        background-color: crimson;
        color: white;
        box-shadow:6px 6px 6px rgba(0, 0, 0, 0.753);
    }
}
.user_wrap:hover{
    left: 0.5em;
}

.other_users_list{
    ul{
        list-style-type: none;
    }
    li{
        padding: 0.5em 0 0.5em 2em;
    }
    li:not(:first-of-type){
        border-top: 0.1em solid snow;
    }
    li:hover{
        background-color: #adadad71;
    }
}
.chat_box_outer{
    padding: 1em;
    width: 100%;
    height: 85vh;
    .to_user{
        padding: 1em 0.5em;
    }
}
.chat_box_inner{
    width: 90%;
    height: 90vh;
    .chat_box{
        background-color: black;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        height: 60vh;
        padding: 1em;
        position: relative;
    }
}
.chat_container{
    width: 100%;
    height: 11vh;
    display: flex;
    position: relative;
    #messageBox {
        position: absolute;
        bottom: -1em;
        width: 75%;
        min-height: 2em;
        max-height: 4em;
        resize: none;
        overflow-y: auto;
        padding: 0.5em;
        font-size: 1em;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: #f0f0f0;
    }
}

.send_btn{
    position:absolute;
    right: 5em;
    bottom: -1em;
    width: 4em;
}
.send_btn:hover{
    background-color: #adadad18;
}

.current_user{
    padding: 0.5em;
    width: 45%;
    border-radius: 1em;
    background-color: rgb(62, 62, 255);
    margin-bottom: 1em;
}

.other_user{
    padding: 0.5em;
    right: 1em;
    bottom: 1em;
    width: 45%;
    border-radius: 1em;
    background-color: lightseagreen;
    margin-bottom: 1em;
}


.wrap_left::-webkit-scrollbar {
    width: 5px;
}

.wrap_left::-webkit-scrollbar-thumb {
    background-color: #adadad71;
    border-radius: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-clip: content-box;
}

.wrap_left::-webkit-scrollbar-track {
    background-color: rgb(20, 110, 20);
}

.chat_box::-webkit-scrollbar {
    width: 5px;
}

.chat_box::-webkit-scrollbar-thumb {
    background-color: #adadad71;
    border-radius: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-clip: content-box;
}

.chat_box::-webkit-scrollbar-track {
    background-color:  rgb(15, 12, 12);
}

.wrap_right.show {
    animation: wrap_right_show 1s ease forwards;
    opacity: 1;
    visibility: visible;
}

@keyframes wrap_right_show {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 37%;
        opacity: 1;
    }
}

@keyframes wrap_right_hide {
    0% {
        left: 37%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes message_animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
