*{
    margin: 0;
    padding: 0;
}
body{
    height: 99vh;
    width: 100%;
    background-color: rgb(15, 12, 12);
}
.wrap{
    margin: 0.35em;
    background-color: silver;
    height: 98vh;
    width: 99%;
}