*{
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
    width: 100%;
    padding:0.5em 1em;
    background-color: rgb(15, 12, 12);
}
.wrap{
    background-color: silver;
    border-radius: 2em;
}