*{
    margin: 0;
    padding: 0;
}
body{
    height: 97vh;
    width: 100%;
    background-color: rgb(15, 12, 12);
}
.wrap{
    margin: 0.3em;
    background-color: silver;
    height: 96vh;
    width: 100%;
}