*{
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
    width: 97%;
    padding:0.5em 1em;
    background-color: rgb(20, 110, 20);
}
.wrap{
    background-color: rgb(20, 110, 20);
    width: 100%;
    height: 98vh;
    display: flex;
    gap: 1em;
    position: relative;
    overflow: hidden;
}
.wrap_left{
    width: 33%;
    padding: 1em;
    height: 92vh;
    border-radius: 0 1.5em 1.5em 0;
    color: white;
    overflow-y: scroll;
    background-color: rgb(15, 12, 12);
}

.wrap_right{
    width: 62%;
    position: absolute;
    display: none;
    border-radius: 2em;
    height: 92vh;
    color: white;
    border-radius: 1.5em;
    padding: 1em;
    background-color: rgb(15, 12, 12);
}
.other_users_list{
    ul{
        list-style-type: none;
    }
    li{
        padding-top:  100em;
    }
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    border-top: red;
    background-color: rgb(15, 12, 12);
}

.wrap:hover{
    .wrap_right{
        display: flex;
        animation: wrap_right 1s ease forwards;
    }
}
@keyframes wrap_right {
    0%{
        left: 100%;
    }
    100%{
        left: 37%;
    }
}