*{
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
    width: 97%;
    padding:0.5em 1em;
    background-color: rgb(15, 12, 12);
}
.wrap{
    background-color: rgb(15, 12, 12);
    width: 100%;
    height: 98vh;
    display: flex;
    gap: 1em;
}
.wrap_left{
    width: 100%;
    height: 50vh;
    border-radius: 2em;
    background-color: silver;
}
.wrap_right{
    width: 100%;
    border-radius: 2em;
    height: 50vh;
    background-color: silver;
}