*{
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
    width: 97%;
    padding:0.5em 1em;
    background-color: rgb(20, 110, 20);
}
.wrap{
    background-color: rgb(20, 110, 20);
    width: 100%;
    height: 98vh;
    display: flex;
    gap: 1em;
    position: relative;
    overflow: hidden;
}
.wrap_left{
    width: 33%;
    padding: 1em;
    height: 92vh;
    border-radius: 0 1em 1em 0;
    color: white;
    overflow-y: scroll;
    background-color: rgb(15, 12, 12);
}

.wrap_right {
    width: 60%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.5em;
    height: 92vh;
    color: white;
    padding: 1em;
    background-color: rgb(15, 12, 12);
    animation: wrap_right_hide 1s ease forwards;
}
.other_users_list{
    ul{
        list-style-type: none;
    }
    li{
        padding: 0.5em 0 0.5em 2em;
    }
    li:not(:first-of-type){
        border-top: 0.1em solid snow;
    }
    li:hover{
        background-color: #adadad71;
    }
}
.chat_box_outer{
    padding: 1em;
    background-color: grey;
    .to_user{
        padding: 0.5em;
    }
}
.chat_box_inner{
    width: 100%;
    height: 80vh;
    input{
        width: 65%;
        height: 5%;
        border-radius: 2em;
        border-style: none;
        display: flex;
        justify-content: flex-end;
    }
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #adadad71;
    border-radius: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color: rgb(20, 110, 20);
}

.wrap_right.show {
    animation: wrap_right_show 1s ease forwards;
    opacity: 1;
    visibility: visible;
}

@keyframes wrap_right_show {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 37%;
        opacity: 1;
    }
}

@keyframes wrap_right_hide {
    0% {
        left: 37%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}
