<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="message"></div>
        <div class="user_wrap">
            <div class="profile">
                <div class="profile_name">{{username}}</div>
                <div class="logout_btn" onclick="logout_btn()">Logout</div>
            </div>
        </div>
        <div class="wrap_left">
            <div class="logo">
                <img class="logo_img" src="{{ url_for('static', filename='img/logo.gif') }}" alt="logo">
                <div class="logo_text">Groupy</div>
                <div class="more_option">
                    <img class="more_opt" src="{{ url_for('static', filename='img/more.png') }}" alt="more">
                </div>
            </div>
            <ul class="more_btn">
                <li class="more_logout" onclick="logout_btn()">Logout</li>
            </ul>

            <div class="other_users">
                <div class="other_users_list">
                        {% if other_user_list %}
                            <ul>
                                {% for user in other_user_list %}
                                <li class="user_lists">{{ user.username | title}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="wrap_right">
            <div class="chat_box_outer">
                <div class="to_user"></div>
                <img class="return_btn" src="{{ url_for('static', filename='img/back.png') }}" alt="back">
                <div class="chat_box_inner">
                    <ul class="chat_box">
                    </ul>
                    <form method="post" class="chat_container">
                        <textarea id="messageBox" placeholder="Type a message..."></textarea>
                        <input type="file" id="imageInput" accept="img/*" style="display: none;">
                        <img src="{{ url_for('static', filename='img/sent.png') }}" alt="send_btn" onclick="current_user_sent()" class="send_btn">
                        <img src="{{ url_for('static', filename='img/attach.png') }}" alt="attach" onclick="document.getElementById('imageInput').click()" class="attach_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->
    <script>
        const socket = io();
        const current_user = "{{ username }}";

            socket.on('connect', () => {
                console.log('Connected after login');
                socket.emit('user_connected',{username: current_user});
                const message_info = '{{username}} connected';
                message(message_info);
            });
            socket.on('receive_private_message', (data) => {
                const li = document.createElement('li');
                li.className = data.sender === current_user ? "current_user" : "other_user";
                li.textContent = data.message;
                li.id = `msg-${data._id}`;

                if (data.sender === current_user) {
                    li.classList.add('current_user');
                    li.addEventListener('dblclick', () => {
                        const confirmed = confirm("Do you want to delete this message?");
                        if (confirmed) {
                            socket.emit('delete_private_message', { 
                                msg_id: data._id,
                                sender: current_user,
                                receiver: selected_user 
                            });
                        }
                    });
                } else {
                    li.classList.add('other_user');
                }

                chatList.appendChild(li);
            });
            socket.on('receive_image', (data) => {
                const img = document.createElement('img');
                const li = document.createElement('li');

                img.src = data.image_url;
                img.style.maxWidth = '300px';
                img.style.borderRadius = '8px';
                li.style.backgroundColor = 'transparent';
                img.classList.add('chat_image');

                li.appendChild(img);
                li.classList.add(data.sender === current_user ? 'current_user' : 'other_user');
                chatList.appendChild(li);
            });

            socket.on('message_deleted', (data) => {
                const msgElement = document.getElementById(`msg-${data.msg_id}`);
                if (msgElement) {
                    msgElement.remove();
                }
            });

            const moreIcon = "{{ url_for('static', filename='img/more.png') }}";
            const closeIcon = "{{ url_for('static', filename='img/close24.png') }}";

    </script>
</body>
</html>