<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    message("{{ messages[0] }}");  // Only using the first message
                });
                </script>
            {% endif %}
        {% endwith %}
    </div>
    <div class="wrap_inner">         
        <img class="img" src="{{ url_for('static', filename='img/bridge.png') }}" alt="bridge">
        <form class="form log" action="{{url_for('login')}}" method="post">
            <div class="page">
                <div class="head">Login Page</div>
                <div class="row">
                    <div class="col1">email</div>
                    <div class="col2"><input id="focus" class="email ip" type="text" name="email" placeholder="email..."></div>
                </div>
                <div class="row">
                    <div class="col1">password</div>
                    <div class="col2"><input type="password" class="password ip" name="password" placeholder="*****"></div>
                </div>
                <div class="btn">
                    <div class="submit" onclick="log_submit()">Submit</div>
                </div>
                <div class="btn">
                    <a class="reg" href="{{url_for('register')}}">Sign up</a>
                </div>
            </div>
        </form>
    </div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>