<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    message("{{ messages[0] }}");
                });
                </script>
            {% endif %}
        {% endwith %}
    </div>
    <form class="reg" action="{{url_for('register')}}" method="post">
        <div class="table">
            <div class="head">Register Page</div>
            <div class="row">
                <div class="col1">username</div>
                <div class="col1"><input id="focus"  class="username ip" type="text" name="username" placeholder="Username"></div>
            </div>
            <div class="row">
                <div class="col1">email</div>
                <div class="col1"><input type="email" class="email ip" name="email" placeholder="email.."></div>
            </div>
            <div class="row">
                <div class="col1">password</div>
                <div class="col1"><input type="password" class="password ip" name="password" placeholder="******"></div>
            </div>
            <div class="btn">
                <div class="submit" onclick="reg_submit()">Register</div>
            </div>
            <div class="btn">
                <a class="log" href="{{url_for('login')}}">back to Login</a>
            </div>
        </div>
    </form>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>